<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="fonts/fonts.css" />
	<title>React D3</title>
</head>
<body>
	<div id="root"></div>
	<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
		<linearGradient id="spinner-gradient" x1="0" y1="0" x2="1" y2="0">
			<stop offset="0%" stop-color="#21a5f300" />
			<stop offset="100%" stop-color="#21a5f3" />
		</linearGradient>
	</svg>

	<script src="polyfills/Array.from.js"></script>

	<script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
